<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add new post</title>
</head>
<body>
    <div th:replace="fragments/header::html-header"></div>
    <form action="/addpost" method="post">
        <p>제목</p>
        <input name="title" type="text">
        <p>작성자</p>
        <input name="author" type="text">
        <p>내용</p>
        <input name="text" type="text">
        <input type="submit"/>
    </form>
</body>
</html>
